
<div class="row">
 	<div class="col-md-4">
 		<p class="rojo">Pendiente</p>
 		<% @taskp.each do |sk| %>
 		<div class="container">
 			<%= sk.name %>
 		</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<p class="verde">Realizando</p>
		<% @taskr.each do |sk| %>
		<div class="container">
 			<%=sk.name %>	
 		</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<p class="azul">Terminado</p>
		<% @taskt.each do |sk| %>
		<div class="container">
 			<%=sk.name %>
 		</div>
		<% end %>
	</div>
</div>


